*{
    margin: 0;
    padding: 0;
    text-decoration: 0;
    color: white;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
section {
    height: 100vh;
    width: 100%;
}
.sectionHome {

    background-color: #363636;
}

.sectionProjects {
    background-color: #313131;
}

.navBar {
    height: 150px;
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 0 0 0 10%;
    display: none;
}
.burgerMenu {
    height: 150px;
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 0 0 0 10%;
}

.burgerMenuIcon{
    z-index: 2;
}

.menuIcon:hover {
    opacity: 50%;
}

.closeIcon {
    display: none;
    border-color: #CCA43B;
}

.navLink {
    margin: 75px 75px 75px 75px ;
    font-size: 30px;
}

.wrapperBurgerLink{
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 100vh;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 1;
    background-color: #313131;
}

.containerHome{
    display: flex;
    flex-direction: column;
    margin: 10%;
}



.homeText1 {
    font-size: 50px;
    font-weight: 600;
    color: #CCA43B;
    margin-left: 5px;
}

.homeText2 {
    font-size: 75px;
    margin: -10px 0 -50px 0;
    font-weight: 600;
}

.moreButtonHome{
    margin: 100px 0 0 0;
    font-size: 18px;
    color: #CCA43B;
    font-size: 30px;
    margin-left: 5px;
}

